pipeline/TrustedToSynapse.json
{
	"name": "TrustedToSynapse",
	"properties": {
		"activities": [
			{
				"name": "LookupTrusted",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from ctl.Trusted",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "control",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupTrusted",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupTrusted').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Invoke Polybase Synapse",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SynapseLoad",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"zoneName": {
										"value": "@item().sourceZone",
										"type": "Expression"
									},
									"PathName": {
										"value": "@item().sourcePath",
										"type": "Expression"
									},
									"SourceName": {
										"value": "@item().sourceName",
										"type": "Expression"
									},
									"schemaName": {
										"value": "@item().targetSchema",
										"type": "Expression"
									},
									"tableName": {
										"value": "@item().targetTable",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Stage"
		},
		"annotations": []
	}
}